# Pyspark Dataframe Get Stat

In [19]:
import json
import numpy as np
import pandas as pd
from time import time

from pyspark import SQLContext
from pyspark.sql.functions import *

import re
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from __future__ import division

In [20]:
import pyspark
pyspark.__version__

'2.1.0+hadoop2.7'

In [21]:
sc

## 1. Define variables

In [22]:
month_list = ['201608','201611','201702','201705']
flist = ['cnt_voice_in_fix_avg_6m', 'cnt_voice_out_fix_avg_6m', 'arpu_int_roaming_avg_hy', 'arpu_onnet_roaming_avg_hy', 'call_charge_avg_6m', 'call_charge_ind_6m', 'cnt_voice_out_avg_6m', 'arpu_voice_avg_hy', 'arpu_gprs_avg_hy', 'arpu_vas_avg_hy', 'ingoing_avg_6m', 'intercity_in_avg_6m', 'int_roam_in_avg_6m', 'sms_out_comp_num_avg_6m', 'arpu_wo_roam_avg_hy', 'onn_roam_out_time_6m', 'cnt_onn_r_in_call_avg_6m', 'cnt_onn_r_out_call_avg_6m', 'data_volume_roam_avg_6m', 'cnt_pp_change_6m', 'cnt_fin_block_6m', 'cnt_block_6m', 'cpa_ind', 'cnt_package_m', 'cpa_ind_avg_6m', 'minus_bal_day_avg_1m', 'minus_bal_day_avg_hy', 'conf_call_charge_ind_1m', 'bl_charge_ind_1m', 'bal_charge_ind_1m', 'pay_charge_ind_1m', 'package_ind_1m', 'charge_package_1m', 'conf_call_charge_avg_6m', 'bl_charge_avg_6m', 'bal_charge_avg_6m', 'pay_charge_avg_6m', 'pay_charge_ind_6m', 'charge_package_avg_6m', 'conf_call_charge_ind_6m', 'bl_charge_ind_6m', 'bal_charge_ind_6m', 'int_state_6m', 'cnt_roam_state_6m', 'roam_state_6m', 'payment_method_1m', 'equipment_type_1m', 'payment_method_6m', 'equipment_type_6m', 'direct_number', 'cnt_pp_change_1m', 'cnt_block_1m', 'cnt_mou_bel_out', 'cnt_mou_eur_out', 'cnt_mou_cis_out', 'cnt_mou_ukr_out']
ttable = 'scheme.table_name'
XlsFileName = 'ATS'

In [23]:
mmonth=0
print 'Current month: ', month_list[mmonth]
print 'Features count: ', len(flist)
print 'Source table: ', ttable
SCR = sqlContext.sql('select *\
                      from %s where month in (%s)' %(ttable, month_list[mmonth]))\
                .select(*flist)

Current month:  201608
Features count:  56
Source table:  bank_score_bee.agg_bank_scoring_monthly

In [24]:
%%time
SCR.persist(storageLevel=StorageLevel.MEMORY_AND_DISK)

CPU times: user 3.7 ms, sys: 863 Âµs, total: 4.56 ms
Wall time: 550 ms

DataFrame[cnt_voice_in_fix_avg_6m: double, cnt_voice_out_fix_avg_6m: double, arpu_int_roaming_avg_hy: double, arpu_onnet_roaming_avg_hy: double, call_charge_avg_6m: double, call_charge_ind_6m: int, cnt_voice_out_avg_6m: double, arpu_voice_avg_hy: double, arpu_gprs_avg_hy: double, arpu_vas_avg_hy: double, ingoing_avg_6m: double, intercity_in_avg_6m: double, int_roam_in_avg_6m: double, sms_out_comp_num_avg_6m: double, arpu_wo_roam_avg_hy: double, onn_roam_out_time_6m: double, cnt_onn_r_in_call_avg_6m: double, cnt_onn_r_out_call_avg_6m: double, data_volume_roam_avg_6m: double, cnt_pp_change_6m: int, cnt_fin_block_6m: double, cnt_block_6m: double, cpa_ind: int, cnt_package_m: int, cpa_ind_avg_6m: double, minus_bal_day_avg_1m: int, minus_bal_day_avg_hy: double, conf_call_charge_ind_1m: int, bl_charge_ind_1m: int, bal_charge_ind_1m: int, pay_charge_ind_1m: int, package_ind_1m: int, charge_package_1m: double, conf_call_charge_avg_6m: double, bl_charge_avg_6m: double, bal_charge_avg_6m: double, pay_charge_avg_6m: double, pay_charge_ind_6m: int, charge_package_avg_6m: double, conf_call_charge_ind_6m: int, bl_charge_ind_6m: int, bal_charge_ind_6m: int, int_state_6m: string, cnt_roam_state_6m: int, roam_state_6m: string, payment_method_1m: string, equipment_type_1m: string, payment_method_6m: string, equipment_type_6m: string, direct_number: string, cnt_pp_change_1m: int, cnt_block_1m: int, cnt_mou_bel_out: int, cnt_mou_eur_out: int, cnt_mou_cis_out: int, cnt_mou_ukr_out: int]

In [25]:
SCR.is_cached

True

## 2. get dummy list
Try to get dummy list using value_counts

In [12]:
%%time
rcount = 10 # top N
rec_count = SCR.count();
print ('Get top %s by count:' %rcount)
print ('Value, %pers')
dummyDF = []
for ncol in SCR.columns:
    colDummy = SCR.groupBy(ncol)\
                .count()\
                .sort('count',ascending=False)\
                .limit(rcount)\
                .toPandas()\
                
    dummyDF.append(
        pd.Series(
            zip(colDummy[ncol], np.round(100*colDummy['count']/rec_count,5)),
            name=ncol))

Get top 10 by count:
Value, %pers
CPU times: user 804 ms, sys: 134 ms, total: 938 ms
Wall time: 4min 44s

In [15]:
pd.DataFrame(dummyDF).T

,cnt_voice_in_fix_avg_6m,cnt_voice_out_fix_avg_6m,arpu_int_roaming_avg_hy,arpu_onnet_roaming_avg_hy,call_charge_avg_6m,call_charge_ind_6m,cnt_voice_out_avg_6m,arpu_voice_avg_hy,arpu_gprs_avg_hy,arpu_vas_avg_hy,ingoing_avg_6m,intercity_in_avg_6m,int_roam_in_avg_6m,sms_out_comp_num_avg_6m,arpu_wo_roam_avg_hy,onn_roam_out_time_6m,cnt_onn_r_in_call_avg_6m,cnt_onn_r_out_call_avg_6m,data_volume_roam_avg_6m,cnt_pp_change_6m,cnt_fin_block_6m,cnt_block_6m,cpa_ind,cnt_package_m,cpa_ind_avg_6m,minus_bal_day_avg_1m,minus_bal_day_avg_hy,conf_call_charge_ind_1m,bl_charge_ind_1m,bal_charge_ind_1m,pay_charge_ind_1m,package_ind_1m,charge_package_1m,conf_call_charge_avg_6m,bl_charge_avg_6m,bal_charge_avg_6m,pay_charge_avg_6m,pay_charge_ind_6m,charge_package_avg_6m,conf_call_charge_ind_6m,bl_charge_ind_6m,bal_charge_ind_6m,int_state_6m,cnt_roam_state_6m,roam_state_6m,payment_method_1m,equipment_type_1m,payment_method_6m,equipment_type_6m,direct_number,cnt_pp_change_1m,cnt_block_1m,cnt_mou_bel_out,cnt_mou_eur_out,cnt_mou_cis_out,cnt_mou_ukr_out
0,"(0.0, 36.44472)","(0.0, 33.13964)","(0.0, 96.14453)","(0.0, 75.02563)","(0.0, 87.99501)","(0, 87.99501)","(0.0, 13.58016)","(0.0, 26.53751)","(0.0, 39.26247)","(0.0, 13.3228)","(0.0, 15.54721)","(0.0, 29.72496)","(0.0, 97.61997)","(0.0, 44.47844)","(0.0, 4.57167)","(0.0, 70.80923)","(0.0, 68.69287)","(0.0, 68.69339)","(0.0, 100.0)","(0, 72.8396)","(0.0, 99.68577)","(0.0, 57.09592)","(0, 94.72456)","(2, 26.28707)","(0.0, 94.54651)","(0, 64.32046)","(0.0, 48.16081)","(0, 99.92561)","(0, 99.76421)","(0, 99.99358)","(0, 89.33857)","(0, 53.53104)","(0.0, 45.42054)","(0.0, 99.88196)","(0.0, 99.67201)","(0.0, 99.97441)","(0.0, 82.66101)","(0, 82.66101)","(0.0, 37.29981)","(0, 99.88196)","(0, 99.67201)","(0, 99.97441)","(, 81.17129)","(0, 94.10098)","(, 94.10098)","(ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾, 54.09539)","(, 35.816)","(ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾, 73.30765)","(ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾, 41.9869)","(, 98.33322)","(0, 90.28054)","(0, 70.29509)","(0, 99.64113)","(0, 99.50256)","(0, 94.22946)","(0, 98.44872)"
1,"(0.1667, 7.92739)","(0.1667, 6.19354)","(14.125, 0.2669)","(1.405, 0.83449)","(0.1667, 3.91076)","(1, 12.00499)","(1.0, 0.90747)","(0.4233, 0.40765)","(127.1209, 1.16724)","(12.8499, 0.53787)","(0.0028, 0.05414)","(0.0333, 0.16718)","(0.0056, 0.01579)","(0.1667, 5.63027)","(254.24, 0.41787)","(1.0, 0.10079)","(0.1667, 3.51933)","(0.1667, 3.75152)",NaN,"(1, 23.84015)","(0.3333, 0.10331)","(1.0, 7.19978)","(1, 5.27544)","(1, 23.61381)","(1.0, 4.83096)","(31, 6.64394)","(0.1667, 2.74517)","(1, 0.07439)","(1, 0.23579)","(1, 0.00642)","(1, 10.66143)","(1, 46.46896)","(147.4606, 1.91014)","(1.0, 0.04861)","(1.0, 0.15268)","(0.1667, 0.01565)","(1.0, 3.90565)","(1, 17.33899)","(84.7511, 0.824)","(1, 0.11804)","(1, 0.32799)","(1, 0.02559)","(Ð£Ð·Ð±ÐµÐºÐ¸ÑÑÐ°Ð½, 2.72539)","(1, 4.47098)","(ÐÐµÐ»Ð°ÑÑÑÑ, 0.8011)","(, 35.816)","(ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾, 30.61555)","(, 16.90326)","(, 16.90326)","(3512163516, 0.0)","(1, 9.46134)","(1, 20.05228)","(1, 0.14994)","(1, 0.24891)","(1, 0.85155)","(1, 0.41276)"
2,"(0.3333, 5.73272)","(0.3333, 4.59722)","(1.4117, 0.17053)","(2.81, 0.62025)","(0.3333, 2.05969)",NaN,"(0.1667, 0.76149)","(0.8467, 0.28577)","(0.2067, 0.7255)","(19.627, 0.48832)","(0.0333, 0.04089)","(0.05, 0.1631)","(0.1667, 0.01547)","(0.3333, 3.71231)","(8.47, 0.39849)","(0.3333, 0.06346)","(0.3333, 2.41152)","(0.3333, 2.46667)",NaN,"(2, 2.85313)","(0.1667, 0.09402)","(0.1667, 6.99988)",NaN,"(3, 20.30479)","(0.8333, 0.16994)","(1, 3.09475)","(0.3333, 1.78879)",NaN,NaN,NaN,NaN,NaN,"(152.4946, 1.4386)","(0.1667, 0.02232)","(0.1667, 0.0515)","(0.5, 0.00372)","(0.1667, 3.85973)",NaN,"(147.4606, 0.77466)",NaN,NaN,NaN,"(ÐÐµÐ»Ð¸ÐºÐ¾Ð±ÑÐ¸ÑÐ°Ð½Ð¸Ñ, 2.60227)","(2, 0.85806)","(Ð£ÐºÑÐ°Ð¸Ð½Ð°, 0.53122)","(ÐÐ°Ð»Ð¸ÑÐ½ÑÐµ, 7.11875)","(Ð¢ÐµÑÐ¼Ð¸Ð½Ð°Ð» ÑÐ°Ð¼Ð¾Ð¾Ð±ÑÐ»ÑÐ¶Ð¸Ð²Ð°Ð½Ð¸Ñ, 9.7429)","(ÐÐ°Ð»Ð¸ÑÐ½ÑÐµ, 6.44382)","(Ð¢ÐµÑÐ¼Ð¸Ð½Ð°Ð» ÑÐ°Ð¼Ð¾Ð¾Ð±ÑÐ»ÑÐ¶Ð¸Ð²Ð°Ð½Ð¸Ñ, 14.77418)","(3512164099, 0.0)","(2, 0.23939)","(2, 5.82238)","(2, 0.06465)","(2, 0.08891)","(2, 0.49576)","(2, 0.20628)"
3,"(0.5, 4.6271)","(0.5, 3.90738)","(28.2483, 0.16015)","(4.215, 0.38597)","(1.0, 1.80532)",NaN,"(0.5, 0.68268)","(1.27, 0.20425)","(84.7511, 0.4579)","(147.4606, 0.42155)","(0.0056, 0.03808)","(0.0361, 0.15701)","(0.0028, 0.01501)","(0.5, 2.90966)","(12.88, 0.23871)","(0.0167, 0.06316)","(0.5, 1.89267)","(0.5, 1.88372)",NaN,"(3, 0.35335)","(0.25, 0.0437)","(0.3333, 4.80233)",NaN,"(4, 11.76905)","(0.5, 0.12222)","(2, 2.0282)","(0.5, 1.40498)",NaN,NaN,NaN,NaN,NaN,"(84.7511, 1.34381)","(0.5, 0.01293)","(0.3333, 0.03643)","(1.0, 0.00369)","(0.3333, 2.56845)",NaN,"(169.4907, 0.40793)",NaN,NaN,NaN,"(Ð£ÐºÑÐ°Ð¸Ð½Ð°, 2.4645)","(3, 0.27758)","(ÐÐ°Ð·Ð°Ñ ÑÑÐ°Ð½, 0.51911)","(ÐÐ°ÑÑÐ°, 2.93394)","(ÐÐ¾Ð¼Ð¿ÑÑÑÐµÑ, 9.34872)","(ÐÐ°ÑÑÐ°, 3.32802)","(ÐÐ¾Ð¼Ð¿ÑÑÑÐµÑ, 9.58087)","(3512163192, 0.0)","(3, 0.01348)","(3, 2.27658)","(3, 0.03597)","(3, 0.04435)","(3, 0.3595)","(3, 0.13312)"
4,"(0.6667, 3.52399)","(1.0, 2.97746)","(2.8233, 0.09433)","(5.62, 0.2696)","(0.5, 1.58159)",NaN,"(0.3333, 0.62874)","(1.4117, 0.16786)","(0.4133, 0.34818)","(26.0519, 0.28399)","(0.05, 0.03692)","(0.0389, 0.15624)","(0.05, 0.01369)","(1.0, 2.11684)","(169.49, 0.20937)","(0.2167, 0.06125)","(0.6667, 1.44449)","(0.6667, 1.41548)",NaN,"(4, 0.06527)","(0.5, 0.0328)","(0.5, 4.73218)",NaN,"(0, 7.59888)","(0.1667, 0.11026)","(3, 1.583)","(30.1667, 1.34919)",NaN,NaN,NaN,NaN,NaN,"(152.2277, 0.8053)","(0.3333, 0.0129)","(0.5, 0.03032)","(0.3333, 0.00152)","(0.8333, 2.24615)",NaN,"(254.2418, 0.32196)",NaN,NaN,NaN,"(ÐÐ°Ð·Ð°Ñ ÑÑÐ°Ð½, 1.35102)","(4, 0.12114)","(ÐÑÑÐ·Ð¸Ñ, 0.45895)","(ÐÑÑÐ³Ð¾Ðµ, 0.03591)","(ÐÐ°Ð½ÐºÐ¾Ð¼Ð°Ñ, 5.66684)","(ÐÑÑÐ³Ð¾Ðµ, 0.01724)",(ÐÐ°ÑÑÐ° (ÐºÐ°ÑÑÐ¾Ð²ÑÐµ ÑÐµÑÐ¼Ð¸Ð½Ð°Ð»Ñ Ð² Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð°Ñ ÑÐ°Ð¼Ð¾Ð¾Ð±Ñ...,"(3512163010, 0.0)","(4, 0.00272)","(4, 0.95491)","(4, 0.02325)","(4, 0.02582)","(4, 0.28816)","(4, 0.0991)"
5,"(1.0, 3.04263)","(0.6667, 2.92339)","(28.25, 0.06678)","(0.6983, 0.26735)","(0.6667, 1.19872)",NaN,"(2.0, 0.56428)","(2.54, 0.14551)","(4.239, 0.30367)","(0.84, 0.20586)","(0.0167, 0.03554)","(0.0417, 0.15604)","(0.0444, 0.01347)","(0.6667, 2.08576)","(0.3067, 0.13593)","(0.2333, 0.06117)","(1.0, 1.20207)","(1.0, 1.15736)",NaN,"(5, 0.02025)","(0.2, 0.01833)","(0.6667, 3.07872)",NaN,"(5, 5.27196)","(0.6667, 0.10167)","(30, 1.35985)","(0.6667, 1.14097)",NaN,NaN,NaN,NaN,NaN,"(253.9204, 0.79084)","(0.6667, 0.00981)","(0.6667, 0.02574)","(0.25, 0.00061)","(0.5, 2.11977)",NaN,"(26.0519, 0.236)",NaN,NaN,NaN,"(Ð¢Ð°Ð´Ð¶Ð¸ÐºÐ¸ÑÑÐ°Ð½, 0.90829)","(5, 0.06516)","(Ð¢ÑÐ½Ð¸Ñ, 0.15252)",NaN,(ÐÐ°ÑÑÐ° (ÐºÐ°ÑÑÐ¾Ð²ÑÐµ ÑÐµÑÐ¼Ð¸Ð½Ð°Ð»Ñ Ð² Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð°Ñ ÑÐ°Ð¼Ð¾Ð¾Ð±Ñ...,NaN,"(ÐÐ°Ð½ÐºÐ¾Ð¼Ð°Ñ, 5.87957)","(3512160886, 0.0)","(5, 0.00125)","(5, 0.37507)","(5, 0.01652)","(5, 0.01706)","(5, 0.24092)","(5, 0.07822)"
6,"(0.8333, 2.80254)","(0.8333, 2.34727)","(4.235, 0.05914)","(0.4233, 0.23631)","(0.8333, 1.06827)",NaN,"(3.0, 0.4568)","(1.405, 0.13096)","(211.8691, 0.30296)","(0.2117, 0.20006)","(0.0667, 0.03417)","(0.0028, 0.15113)","(0.0389, 0.01343)","(0.8333, 1.58031)","(423.73, 0.1106)","(0.2, 0.06016)","(0.8333, 1.15135)","(0.8333, 1.11731)",NaN,"(6, 0.00938)","(0.6667, 0.01073)","(0.8333, 2.47666)",NaN,"(6, 2.56925)","(0.3333, 0.09869)","(4, 1.31342)","(1.0, 0.98333)",NaN,NaN,NaN,NaN,NaN,"(169.4907, 0.77043)","(0.8333, 0.00912)","(0.8333, 0.02501)","(0.2, 0.00037)","(0.6667, 1.99608)",NaN,"(145.7587, 0.21099)",NaN,NaN,NaN,"(ÐÑÑÐ³ÑÐ·ÑÑÐ°Ð½, 0.81449)","(6, 0.03892)","(ÐÑÐµÑÐ¸Ñ, 0.13943)",NaN,"(GSM-ÑÐµÑÐ¼Ð¸Ð½Ð°Ð», 2.58183)",NaN,"(GSM-ÑÐµÑÐ¼Ð¸Ð½Ð°Ð», 2.96029)","(3512163107, 0.0)","(6, 0.00056)","(6, 0.13992)","(6, 0.01172)","(6, 0.01175)","(6, 0.20955)","(6, 0.06328)"
7,"(1.1667, 2.08252)","(1.1667, 1.8115)","(56.4967, 0.05121)","(7.025, 0.18306)","(0.25, 0.12183)",NaN,"(0.6667, 0.45478)","(1.6933, 0.1139)","(169.4907, 0.27174)","(15.6664, 0.18413)","(0.0833, 0.03293)","(0.0444, 0.14966)","(0.0472, 0.01338)","(1.1667, 1.16713)","(296.61, 0.10159)","(0.25, 0.05989)","(1.1667, 0.84381)","(1.1667, 0.8055)",NaN,"(7, 0.00515)","(0.4, 0.00406)","(1.1667, 2.20106)",NaN,"(7, 1.33958)","(0.75, 0.00314)","(5, 1.18891)","(0.8333, 0.97694)",NaN,NaN,NaN,NaN,NaN,"(254.2418, 0.57001)","(0.25, 0.00062)","(0.25, 0.00164)","(0.4, 1e-05)","(0.25, 0.25471)",NaN,"(0.0698, 0.18886)",NaN,NaN,NaN,"(ÐÐµÐ»Ð°ÑÑÑÑ, 0.71245)","(7, 0.02404)","(ÐÑÐ¿Ð°Ð½Ð¸Ñ, 0.11894)",NaN,"(POS-ÑÐµÑÐ¼Ð¸Ð½Ð°Ð», 0.85125)",NaN,"(POS-ÑÐµÑÐ¼Ð¸Ð½Ð°Ð», 1.05375)","(3512164454, 0.0)","(7, 0.00027)","(7, 0.05228)","(7, 0.00887)","(7, 0.0089)","(7, 0.18464)","(7, 0.05261)"
8,"(1.3333, 1.90119)","(1.3333, 1.71272)","(15.5367, 0.04079)","(0.8467, 0.17134)","(0.2, 0.10425)",NaN,"(4.0, 0.39599)","(0.2117, 0.09776)","(0.62, 0.2239)","(4.9077, 0.18094)","(0.1, 0.03158)","(0.0833, 0.14765)","(0.0528, 0.01328)","(1.3333, 1.11121)","(330.51, 0.09643)","(0.2667, 0.05907)","(1.3333, 0.76904)","(1.3333, 0.73074)",NaN,"(8, 0.00345)","(0.8333, 0.00265)","(1.3333, 1.79901)",NaN,"(8, 0.68483)","(0.8, 0.00294)","(7, 1.04761)","(31.0, 0.84324)",NaN,NaN,NaN,NaN,NaN,"(254.239, 0.54908)","(0.2, 0.0006)","(0.2, 0.00142)","(0.6667, 0.0)","(0.2, 0.16632)",NaN,"(4.9077, 0.18331)",NaN,NaN,NaN,"(ÐÐ·ÐµÑÐ±Ð°Ð¹Ð´Ð¶Ð°Ð½, 0.40445)","(8, 0.01521)","(ÐÐ·ÐµÑÐ±Ð°Ð¹Ð´Ð¶Ð°Ð½, 0.11846)",NaN,"(ÐÑÑÐ³Ð¾Ðµ, 0.03686)",NaN,"(ÐÑÑÐ³Ð¾Ðµ, 0.02389)","(3512163841, 0.0)","(8, 0.00016)","(8, 0.02031)","(8, 0.00696)","(8, 0.00682)","(8, 0.16498)","(8, 0.04544)"
9,"(1.5, 1.76183)","(1.5, 1.67048)","(5.6467, 0.03757)","(8.43, 0.16058)","(0.4, 0.0508)",NaN,"(0.8333, 0.37829)","(2.81, 0.09357)","(118.6401, 0.19306)","(0.4233, 0.15611)","(0.0083, 0.0302)","(0.0472, 0.14665)","(0.0583, 0.01317)","(1.5, 1.07804)","(84.75, 0.0957)","(0.2833, 0.05893)","(1.5, 0.71982)","(1.5, 0.68086)",NaN,"(9, 0.00233)","(1.0, 0.00237)","(1.5, 1.61053)",NaN,"(9, 0.31939)","(0.6, 0.00249)","(6, 1.04704)","(1.1667, 0.79336)",NaN,NaN,NaN,NaN,NaN,"(141.6402, 0.52929)","(0.75, 0.00031)","(0.4, 0.00111)","(0.8333, 0.0)","(0.4, 0.12344)",NaN,"(93.2205, 0.18012)",NaN,NaN,NaN,"(ÐÑÐ¼ÐµÐ½Ð¸Ñ, 0.39786)","(9, 0.00963)","(ÐÐ¸Ð¿Ñ, 0.11445)",NaN,"(ÐÐ²ÑÐ¾Ð¿Ð»Ð°ÑÐµÐ¶, 1e-05)",NaN,"(ÐÐ²ÑÐ¾Ð¿Ð»Ð°ÑÐµÐ¶, 1e-05)","(3512164471, 0.0)","(9, 9e-05)","(9, 0.00733)","(9, 0.00547)","(9, 0.00539)","(9, 0.1489)","(9, 0.03751)"

In [8]:
%%time
SCR.describe().toPandas()

CPU times: user 78.9 ms, sys: 19.3 ms, total: 98.2 ms
Wall time: 6min 22s

,summary,cnt_voice_in_fix_avg_6m,cnt_voice_out_fix_avg_6m,arpu_int_roaming_avg_hy,arpu_onnet_roaming_avg_hy,call_charge_avg_6m,call_charge_ind_6m,cnt_voice_out_avg_6m,arpu_voice_avg_hy,arpu_gprs_avg_hy,arpu_vas_avg_hy,ingoing_avg_6m,intercity_in_avg_6m,int_roam_in_avg_6m,sms_out_comp_num_avg_6m,arpu_wo_roam_avg_hy,onn_roam_out_time_6m,cnt_onn_r_in_call_avg_6m,cnt_onn_r_out_call_avg_6m,data_volume_roam_avg_6m,cnt_pp_change_6m,cnt_fin_block_6m,cnt_block_6m,cpa_ind,cnt_package_m,cpa_ind_avg_6m,minus_bal_day_avg_1m,minus_bal_day_avg_hy,conf_call_charge_ind_1m,bl_charge_ind_1m,bal_charge_ind_1m,pay_charge_ind_1m,package_ind_1m,charge_package_1m,conf_call_charge_avg_6m,bl_charge_avg_6m,bal_charge_avg_6m,pay_charge_avg_6m,pay_charge_ind_6m,charge_package_avg_6m,conf_call_charge_ind_6m,bl_charge_ind_6m,bal_charge_ind_6m,int_state_6m,cnt_roam_state_6m,roam_state_6m,payment_method_1m,equipment_type_1m,payment_method_6m,equipment_type_6m,direct_number,cnt_pp_change_1m,cnt_block_1m,cnt_mou_bel_out,cnt_mou_eur_out,cnt_mou_cis_out,cnt_mou_ukr_out
0,count,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892,50582892
1,mean,2.839635682244162,4.367013416785318,7.547871794422115,11.920980140003062,0.057701963612520474,0.12004989750289485,84.80526871458028,91.57654609789566,80.52409834649164,129.96035649039968,147.41485966673454,21.864382686569247,0.10447228241714614,9.020038058436576,268.4836482189032,72.91586545570965,3.8465851199473,5.037115736101086,0.0,0.3122747311482309,9.620706186589731E-4,0.40120765404637265,0.05275437790310605,2.4638882055221356,0.05173811122740857,5.822954073088585,5.764094042007356,7.43947182774761E-4,0.002357931610553228,6.417189432347996E-5,0.10661430746189839,0.46468964249809996,112.85292348470024,7.823077237260368E-4,0.002292391004452653,8.907336100909394E-5,0.09874221187669475,0.17338988842314512,106.2697008665225,0.0011803793266703692,0.0032798836412912097,2.558967960946163E-4,None,0.08659868637008734,None,None,None,None,None,5.820486538020696E9,0.10007308399843963,0.4569827086992179,0.016112423939698823,0.02075047429079381,1.2708756351851136,0.16993053698867197
2,stddev,12.502121728521443,66.48273519673052,217.9696861422826,102.09726869282355,0.18855902542076514,0.3250198789318146,399.5196737166439,472.8673665206855,542.4227811755355,7283.016304073316,233.80245027839638,85.63421728697082,3.142068035937087,56.45911084033706,4123.127402529566,545.823532122604,21.233114474772908,42.51771345910807,0.0,0.577024005385326,0.01920968107458769,0.680588940359332,0.22354273529478108,1.6844760264952048,0.219704709444235,10.269065712379499,9.129538433827975,0.027265247845206637,0.048501255814447426,0.008010479234104886,0.30862225906327695,0.4987516251310079,207.6118036571304,0.025510353544374906,0.04421211260053266,0.007270263017669836,0.252578165594959,0.37858399048195185,339.1966735288328,0.03433636635731183,0.05717627190732089,0.01599472781831655,None,0.45062482478677895,None,None,None,None,None,2.2897473541741366E9,0.31133131752336785,0.8807722589730066,0.6540530091834503,1.4618008039308987,10.178258542223247,3.3824918989346044
3,min,0.0,0.0,0.0,-0.036,0.0,0,0.0,0.0,-42.387,-252.1582,-136400.3,-10911.3444,0.0,0.0,-141649.0433,-224292.7,0.0,0.0,0.0,0,0.0,0.0,0,0,0.0,0,0.0,0,0,0,0,0,-1115.3595,0.0,0.0,0.0,0.0,0,-174.5787,0,0,0,,0,,,,,,,0,0,0,0,0,0
4,max,21216.25,232108.0,688133.83,333981.75,6.0,1,1391290.8333,1508779.7233,2918064.11,9989207.5533,159572.7639,19112.0111,2558.8194,154986.3333,7872659.5233,1017636.4333,9159.0,104309.3333,0.0,75,2.0,15.0,1,28,6.0,31,31.0,1,1,1,1,1,69038.4843,1.0,1.0,1.0,1.0,1,1999999.9995,1,1,1,Ð¯Ð¿Ð¾Ð½Ð¸Ñ,45,Ð¯Ð¿Ð¾Ð½Ð¸Ñ,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,Ð¢ÐµÑÐ¼Ð¸Ð½Ð°Ð» ÑÐ°Ð¼Ð¾Ð¾Ð±ÑÐ»ÑÐ¶Ð¸Ð²Ð°Ð½Ð¸Ñ,ÐÐµ Ð·Ð°Ð´Ð°Ð½Ð¾,Ð¢ÐµÑÐ¼Ð¸Ð½Ð°Ð» ÑÐ°Ð¼Ð¾Ð¾Ð±ÑÐ»ÑÐ¶Ð¸Ð²Ð°Ð½Ð¸Ñ,942300999,25,16,768,3329,11737,1414

In [16]:
DummyList = [u'NOT_IND', u'NO_VALUE']

## 3. Main cycle

In [17]:
SCR.unpersist();

In [18]:
t0 = time()
writer = pd.ExcelWriter(XlsFileName+'.xlsx')

for mmonth in month_list:
    SCR = sqlContext.sql('select * from %s where month in (%s)' %(ttable, mmonth))\
                    .select(*flist)    
                    #.limit(10000)
    rec_count = SCR.count()
    SCR.persist(storageLevel=StorageLevel.DISK_ONLY) #MEMORY_AND_DISK
    
    print 'Month: ', mmonth, '| rec_count: ', rec_count, '| time: ', np.round((time()-t0)/60.,3), 'mins'
    statDF = [] 
    HTypes = pd.DataFrame(SCR.dtypes, columns=('Column', 'Type'))
    
    for ncol in SCR.columns:
        #print '      ', ncol, np.round((time()-t0)/60.,3)
        
        # 1.NullPers
        NullPers = 100*(SCR.filter(SCR[ncol].isNull()).count() 
                        +  SCR.filter(SCR[ncol]=='')
                        .count()) / rec_count    

        # 2.NullPers with dummy    
        NullPersWithDummy = 100*(SCR.filter(SCR[ncol].isNull()).count() + \
                               SCR.filter(SCR[ncol]=='').count() + \
                               SCR.filter(SCR[ncol].isin(DummyList)).count()\
                              ) / rec_count
            
        # 3. Current type in hive
        HiveType = HTypes[HTypes.Column == ncol].Type.values[0]
        
        # 4. Values
        # for numeric - values range
        # for cat - cats count
        
        if HiveType in ['double','int']:
            ColValues = str(SCR.agg({ncol: "min"}).collect()[0][0]) +' : ' + str(SCR.agg({ncol: "max"}).collect()[0][0])
        else:
            ColValues = SCR.select(ncol).distinct().count()
         
        # 5. Size
        if NullPers > 0:
            ColSize = SCR.where((col(ncol).isNotNull()) & (col(ncol) !='' ))\
                        .select(mean(length(col(ncol)))).collect()[0][0]
        else:
            ColSize = SCR.select(mean(length(col(ncol)))).collect()[0][0]
            
        statDF.append([ncol, 
                       np.round(NullPers,5),
                       np.round(NullPersWithDummy,5),
                       HiveType,
                       ColValues,
                       #np.round(ColSize,5), 
                       np.round(rec_count*(1-NullPers/100)*(ColSize+1)/1024, 2)])    
    
    SCR.unpersist();
    res = pd.DataFrame(statDF,columns=('Column', 'PersOfNulls', 'PersOfNullsWithDummy','TypeInHive','ColValues', 'ColSizeInMBytes'))
    res.to_excel(writer,mmonth)
writer.save()
#Month:  201608 | rec_count:  50582892 | time:  2.022 mins
#Month:  201611 | rec_count:  50060147 | time:  28.881 mins

Month:  201608 | rec_count:  50582892 | time:  3.863 mins
Month:  201611 | rec_count:  50060147 | time:  55.907 mins
Month:  201702 | rec_count:  49171007 | time:  107.894 mins
Month:  201705 | rec_count:  50370283 | time:  181.935 mins